body {
    margin: 0;
    
} 
.header {
    background-image: url("images/vb1.jpg");
    padding: 20px;
    width:  auto;
    height: 167px;
    font-family: "acme";
    color: white;
    background-size: cover;
    text-shadow: 3px 2px 2px #219ebc;
    font-size: 45px;
}
h1{
    margin-top: 5px;
    margin-bottom: 0px;
}
h3{
    font-size: 30px;
    margin: 0;
}
/*render*/

/*menu*/

.menu-item{
    border-bottom: 1px solid  #219ebc;
    display: flex;
    justify-content: space-around;
    color: #1a1919;
    font-size: 25px;
    margin: 0px 25px 0px 25px;
}

.name{
    font-size: 50px;
    margin-top: 30px;
    display: flex; 
    padding: 0px;;
}

.emoji{
    font-size: 60px;
    padding: 10 10 10 10px;
    margin-left: 40px;
}

.trial{
    width: 350px;
}
.btn{
    height: 60px   ;
    padding: 0px;
    width: 60px;
    margin-top:70px;
    margin-right: 40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid grey;
}

.ingredients{
    margin: 0px;
    color: grey
}

.price{
    margin-top: 10px;
}

/*order*/
.order-item{
    display: flex;
    justify-content: center;
    margin: 25px 0px 25px 0px;
}

.order-item2{
    display: flex;
    justify-content: space-between
    
}

.order-btn{
    background-color: white;
    border: 0px 
    
}

.total1{
    margin: 0px 25px 0px 25px;
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid grey;
}

.order-price{
    margin: 0px 25px 0px 25px;
    display: flex;
    justify-content: flex-end;
   
}

.order-btn{
    background-color: white;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: grey;
   
}
button:hover{
    cursor: pointer;
} 